.fond {
    background-image: url("../images/sushis.jpg");
    background-position: center;
    background-size: cover;
    height: 300px;

    @media (min-width: 600px) {
        height: 70vh
    }
}

