.map {
    margin: 10px;
    height: 300px;
    display: flex;
    align-items: center;
    overflow: hidden;

    iframe {
        width: 100%;
    }

    @media (min-width: 600px) {
        height: 50vh;
        margin: 30px 80px 10px 80px;

        iframe {
            height: 100%;
        }
    }
}